// 如果对生成的页面样式有需要调整的, 在此处添加
// https://vuepress.vuejs.org/zh/config/#styling

.page .theme-default-content:not(.custom)
  max-width 80em
.page-edit, .page-nav
  max-width none !important
.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6
  margin-bottom 1rem
.w100
  width 100%
.pb16
  padding-bottom 16px
